<html>
    <head>
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.css" rel="stylesheet" type="text/css">
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
        {{ script | safe }}
    </head>
    <body>
        <h1>Hello, world!</h1>
        {{ div | safe }}
    </body>
</html>
