<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        {{ script | safe }}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <h3 style="color: gray; margin-left: 10px;">HPB Dashboard</h3>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <br>
        <footer class="footer navbar-fixed-bottom">
            <div class="container">
                <p class="text-muted">© 2021 Maastricht University Medical Center</p>
            </div>
        </footer>
    </body>
</html>
